DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB_NAME
R2_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com
R2_ACCESS_KEY=your_r2_access_key
R2_SECRET_KEY=your_r2_secret_key
R2_BUCKET=music-app-album
